node_modules/
dist/
.DS_Store
*.log
.env
.env.*
tmp/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/build/
*.apk
*.aab
*.keystore
